.footer-bottom{
  width: 100%;
  background: #8a2530;
  height: 5rem;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 2rem;
}
.jazu{
  text-align: center;
  color: white;
  padding-top: 1.5rem;
}