.carousel-img{
padding: 1rem;
margin-top: 2rem;
}
.seccion{
    text-align: center;
    margin-top: 2rem;
}
.pres-img{
    width: 100%;
}
.subtitle{
    text-align: center;
}
.accordion-button:not(.collapsed) {
    background-color: white !important;
}
.accordion-button:focus {
    border-color: #8a2530 !important;
    box-shadow: none;
}
#presupuesto-mobile{
    display: none;
}
#carrusel-mobile{
    display: none;
}

@media screen and (max-width: 767px) {
    #presupuesto-mobile{
        display: block;
    }
    #presupuesto{
        display: none
    }
    #carrusel{
        display: none;
    }
    #carrusel-mobile{
        display: block;
    }
}